server:
  port: 8500
  shutdown: graceful
  servlet:
    context-path: /user
  tomcat:
    accept-count: 100
    max-connections: 8192
    threads:
      max: 200
spring:
  profiles:
    active: dev
  jackson:
    serialization:
      fail-on-empty-beans: false
    deserialization:
      fail-on-unknown-properties: false

---
spring:
  config:
    activate:
      on-profile: dev

---
spring:
  config:
    activate:
      on-profile: test

---
spring:
  config:
    activate:
      on-profile: prod