spring:
  profiles:
    active: dev
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss      # 标准时间格式
    serialization:
      fail-on-empty-beans: false          # 允许序列化空对象
    deserialization:
      fail-on-unknown-properties: false   # 反序列化忽略非法字段
    default-property-inclusion: non_null  # 序列化忽略 null 值

---
spring:
  config:
    activate:
      on-profile: dev

---
spring:
  config:
    activate:
      on-profile: test

---
spring:
  config:
    activate:
      on-profile: prod
