<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jokeApiClient" class="emlyn.ma.my.spring.joke.common.client.JokeApiClient"/>

    <bean id="jokeService" class="emlyn.ma.my.spring.joke.service.impl.JokeServiceImpl">
        <constructor-arg ref="jokeApiClient"/>
    </bean>

    <bean id="jokeLauncher" class="emlyn.ma.my.spring.joke.launcher.JokeLauncher">
        <constructor-arg ref="jokeService"/>
    </bean>

</beans>