server:
  port: 8002
  shutdown: graceful

spring:
  application:
    name: my-spring-exchange
  profiles:
    active: dev
  cloud:
    consul:
      host: localhost
      port: 8500
      config:
        enabled: false

---
spring:
  config:
    activate:
      on-profile: dev

---
spring:
  config:
    activate:
      on-profile: test

---
spring:
  config:
    activate:
      on-profile: prod