server:
  port: 8002
  shutdown: graceful
  servlet:
    context-path: /exchange

spring:
  application:
    name: my-spring-exchange
  profiles:
    active: dev
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        health-check-path: /exchange/actuator/health
      config:
        enabled: false

---
spring:
  config:
    activate:
      on-profile: dev

---
spring:
  config:
    activate:
      on-profile: test

---
spring:
  config:
    activate:
      on-profile: prod